# Dependencies
node_modules/

# Build output
dist/

# Logs
*.log
npm-debug.log*

# TypeScript
*.tsbuildinfo

# Environment variables
.env
.env.*
!.env.example

# Editor
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# OS
.DS_Store
Thumbs.db

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.vite/

# ignore task.md
Documents/task.md
